.login_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100% - 129px);
    background: url('../Puzzle2.png') right top no-repeat, url('../Puzzle3.png') left bottom no-repeat;
    background-size: 100%;

    .fa-eye {
        width: 26px;
        transform: scale(1.1);
    }
  
    .button {
    margin: 15px;
    }

    .input-group-append {
        border: 1px solid #AE2342;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        border-left-color: transparent;

        .input-group-text {
            border: none;
            border-radius: 6px;
            transform: rotate(180deg);
            background-color: white;
            color: #6c757d;
            cursor: pointer;

            &:hover {
                color: black;
            }
        }
    }

    .login__button {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        letter-spacing: -0.015em;
        text-decoration-line: underline;
        color: #AE2342;
        margin: 8px auto 16px auto;

        &:hover {
            cursor: pointer;
            font-weight: bold;
        }
    }
}