.registration, .login_page {
    min-height: calc(100% - 129px);
    background: url('../Puzzle2.png') right top no-repeat, url('../Puzzle3.png') left bottom no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .needs-validation {
      margin-bottom: 20px;
    }

    .registration-stage {
      margin: 30px;

      &--inline {
        display: flex;
        flex-direction: row;
      }

      .stage-descript {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: -0.015em;
        height: 45px;
        margin-left: 10px;
      }

      .circle {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 36px;
        text-align: center;
        letter-spacing: -0.015em;
        text-decoration-line: underline;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .fa-eye {
      width: 26px;
      transform: scale(1.1);
    }

    .button {
      margin: 15px;
    }

    .input-group-append {
      border: 1px solid #AE2342;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      border-left-color: transparent;

      .input-group-text {
        border: none;
        border-radius: 6px;
        transform: rotate(180deg);
        background-color: white;
        color: #6c757d;
        cursor: pointer;

        &:hover {
          color: black;
        }
      }
    }

    .basic-multi-select {
      width: 100%;
      margin-bottom: 16px;

      .select__input {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        color: #000000;
      }

      .select__menu {

        .select__option {
          background-color: white;
          font-family: Montserrat;
          font-style: normal;
          font-size: 20px;
          line-height: 20px;
          display: flex;
          align-items: center;
          letter-spacing: -0.015em;
          color: #AE2342;

          &:hover {
            background-color: #FFF6F8;
            font-weight: bold;
          }
        }
      }

      .select__control {
        border: solid 1px #AE2342;

        &--is-focused {
          border: solid 2px #AE2342;
          box-shadow: none;
        }
      }

      .select__multi-value {
        background-color: white;

        &__label {
          font-family: Montserrat;
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          line-height: 20px;
          display: flex;
          align-items: center;
          letter-spacing: -0.015em;
          color: #AE2342;
        }
      }
    }
}

.registration-state {
    margin-bottom: 16px;

    label {
      margin-right: 15px;
      margin-top: 5px;
    }

    .invalid-feedback {
      margin-top: 10px;
      margin-left: 3px;
    }
  
  span {
    padding: 8px;
    height: 36px;
    cursor: pointer;
    border: 1px solid #AE2342;
    border-radius: 6px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
  }
  
  input {
    display: none;  
  }
  
  input:checked + span {
    background: linear-gradient(to right, #D71541, #635A8E);
    color:#fff;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    transition: background-color 5000s ease-in-out 0s;
}